<h2>
  Software projects
</h2>
<% @projects.each do |project| %>
  <div class="swiper-slide">
    <div class="container-project">
      <% project.image_tags.each do |image_tag| %>
        <div class="project-image">
          <%= cl_image_tag image_tag.tag, height: 190, width: 330, crop: :fill %>
        </div>
      <% end %>
      <div class="project-description">
        <h3><%= project.name %></h3>
        <div class="container-text">
          <p>
            <span class="text-bold">Project description: </span>
            <%= project.description %>
          </p>
          <p>
            <span class="text-bold">Technologies used: </span>
            <%= project.used_technologies %>
          </p>
          <div class="container-link-project">
            <%= link_to "Visit page", project.url, target: :_blank, class: "custom-button button-project" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
