<h2 class="container-section">Let's meet</h2>
<div class="container-mail">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :message, as: :text  %>
    <div class="hidden">
      <%= f.input :nickname, hint: "Don't fill me" %>
    </div>
    <%= f.button :submit, class: "custom-button" %>
  <% end %>
</div>
