<h2>Edit a project</h2>

<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :url %>
  <%= f.input :screenshot, as: :file %>
  <%= f.input :mobile_screenshot, as: :file %>
  <%= f.button :submit %>
<% end %>
