<h2>Add a project</h2>

<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :url %>
  <%= f.input :screenshots, as: :file, input_html: { multiple: true } %>
  <%= f.input :mobile_screenshot, as: :file %>
  <%= f.button :submit %>
<% end %>
